*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #222;
    /* va nous permettre d'éviter que les confettis créés une scrollbar */
    overflow: hidden;
}
.container{
    /* on centre l'élément */ 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-confettis{
    font-size: 30px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 7px 0 rgb(160,160, 160);
}
.btn-confettis:active{
    /* donne l'effet 3d au click : enfoncement car on enlève l'ombre et on descend l'élément avec la margin */
    margin-top: 7px;
    box-shadow: 0 0px 0 rgb(160,160, 160);
}
.slot{
    position: relative;
    /* règle la profondeur pour exploiter la perspective */
    perspective: 1000px;;
}
.slot div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* empêcher l'utilisateur de sélectionner les émojis */
    user-select: none;
}